openapi: 3.1.0
info:
  title: Telegram bot api
  description: Generated from official Telegram documentation
  version: '9.2'
  contact:
    name: Aleksandr Kondaurov
    url: https://github.com/effect-ak/tg-bot-client/issues
  summary: >-
    [![NPM
    Version](https://img.shields.io/npm/v/%40effect-ak%2Ftg-bot-client)](https://www.npmjs.com/package/@effect-ak/tg-bot-client)
servers:
  - url: https://api.telegram.org/bot{bot-token}
    variables:
      bot-token:
        default: put-your-token
        description: take from bot father
tags: []
paths:
  /addStickerToSet:
    post:
      tags:
        - stickers
      summary: add_sticker_to_set
      description: >-
        Use this method to add a new sticker to a set created by the
        bot<br/>Emoji sticker sets can have up to 200 stickers<br/>Other sticker
        sets can have up to 120 stickers
      externalDocs:
        url: https://core.telegram.org/bots/api#addstickertoset
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                  description: User identifier of sticker set owner
                name:
                  type: string
                  description: Sticker set name
                sticker:
                  $ref: '#/components/schemas/InputSticker'
                  description: >-
                    A JSON-serialized object with information about the added
                    sticker<br/>If exactly the same sticker had already been
                    added to the set, then the set isn&#39;t changed.
              required:
                - user_id
                - name
                - sticker
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /answerCallbackQuery:
    post:
      tags:
        - available-methods
      summary: answer_callback_query
      description: >
        Use this method to send answers to callback queries sent from inline
        keyboards<br/>The answer will be displayed to the user as a notification
        at the top of the chat screen or as an alert<br/>

        Alternatively, the user can be redirected to the specified Game
        URL<br/>For this option to work, you must first create a game for your
        bot via @BotFather and accept the terms<br/>Otherwise, you may use links
        like t.me/your_bot?start=XXXX that open your bot with a parameter.
      externalDocs:
        url: https://core.telegram.org/bots/api#answercallbackquery
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                callback_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
                text:
                  type: string
                  description: >-
                    Text of the notification<br/>If not specified, nothing will
                    be shown to the user, 0-200 characters
                show_alert:
                  type: boolean
                  description: >-
                    If True, an alert will be shown by the client instead of a
                    notification at the top of the chat screen<br/>Defaults to
                    false.
                url:
                  type: string
                  description: >-
                    URL that will be opened by the user&#39;s client<br/>If you
                    have created a Game and accepted the conditions via
                    @BotFather, specify the URL that opens your game - note that
                    this will only work if the query comes from a callback_game
                    button<br/>.<br/>Otherwise, you may use links like
                    t.me/your_bot?start=XXXX that open your bot with a
                    parameter.
                cache_time:
                  type: number
                  description: >-
                    The maximum amount of time in seconds that the result of the
                    callback query may be cached client-side<br/>Telegram apps
                    will support caching starting in version 3.14<br/>Defaults
                    to 0.
              required:
                - callback_query_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /answerInlineQuery:
    post:
      tags:
        - inline-mode
      summary: answer_inline_query
      description: >-
        Use this method to send answers to an inline query<br/>.<br/>No more
        than 50 results per query are allowed.
      externalDocs:
        url: https://core.telegram.org/bots/api#answerinlinequery
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                inline_query_id:
                  type: string
                  description: Unique identifier for the answered query
                results:
                  type: array
                  items:
                    $ref: '#/components/schemas/InlineQueryResult'
                  description: A JSON-serialized array of results for the inline query
                cache_time:
                  type: number
                  description: >-
                    The maximum amount of time in seconds that the result of the
                    inline query may be cached on the server<br/>Defaults to
                    300.
                is_personal:
                  type: boolean
                  description: >-
                    Pass True if results may be cached on the server side only
                    for the user that sent the query<br/>By default, results may
                    be returned to any user who sends the same query.
                next_offset:
                  type: string
                  description: >-
                    Pass the offset that a client should send in the next query
                    with the same text to receive more results<br/>Pass an empty
                    string if there are no more results or if you don&#39;t
                    support pagination<br/>Offset length can&#39;t exceed 64
                    bytes.
                button:
                  $ref: '#/components/schemas/InlineQueryResultsButton'
                  description: >-
                    A JSON-serialized object describing a button to be shown
                    above inline query results
              required:
                - inline_query_id
                - results
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /answerPreCheckoutQuery:
    post:
      tags:
        - payments
      summary: answer_pre_checkout_query
      description: >-
        Once the user has confirmed their payment and shipping details, the Bot
        API sends the final confirmation in the form of an Update with the field
        pre_checkout_query<br/>Use this method to respond to such pre-checkout
        queries<br/>Note: The Bot API must receive an answer within 10 seconds
        after the pre-checkout query was sent.
      externalDocs:
        url: https://core.telegram.org/bots/api#answerprecheckoutquery
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pre_checkout_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
                ok:
                  type: boolean
                  description: >-
                    Specify True if everything is alright (goods are available,
                    etc.) and the bot is ready to proceed with the order<br/>Use
                    False if there are any problems.
                error_message:
                  type: string
                  description: >-
                    Required if ok is False<br/>Error message in human readable
                    form that explains the reason for failure to proceed with
                    the checkout (e.g<br/>"Sorry, somebody just bought the last
                    of our amazing black T-shirts while you were busy filling
                    out your payment details<br/>Please choose a different color
                    or garment!")<br/>Telegram will display this message to the
                    user.
              required:
                - pre_checkout_query_id
                - ok
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /answerShippingQuery:
    post:
      tags:
        - payments
      summary: answer_shipping_query
      description: >-
        If you sent an invoice requesting a shipping address and the parameter
        is_flexible was specified, the Bot API will send an Update with a
        shipping_query field to the bot<br/>Use this method to reply to shipping
        queries
      externalDocs:
        url: https://core.telegram.org/bots/api#answershippingquery
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shipping_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
                ok:
                  type: boolean
                  description: >-
                    Pass True if delivery to the specified address is possible
                    and False if there are any problems (for example, if
                    delivery to the specified address is not possible)
                shipping_options:
                  type: array
                  items:
                    $ref: '#/components/schemas/ShippingOption'
                  description: >-
                    Required if ok is True<br/>A JSON-serialized array of
                    available shipping options.
                error_message:
                  type: string
                  description: >-
                    Required if ok is False<br/>Error message in human readable
                    form that explains why it is impossible to complete the
                    order (e.g<br/>“Sorry, delivery to your desired address is
                    unavailable”)<br/>Telegram will display this message to the
                    user.
              required:
                - shipping_query_id
                - ok
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /answerWebAppQuery:
    post:
      tags:
        - inline-mode
      summary: answer_web_app_query
      description: >-
        Use this method to set the result of an interaction with a Web App and
        send a corresponding message on behalf of the user to the chat from
        which the query originated
      externalDocs:
        url: https://core.telegram.org/bots/api#answerwebappquery
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                web_app_query_id:
                  type: string
                  description: Unique identifier for the query to be answered
                result:
                  $ref: '#/components/schemas/InlineQueryResult'
                  description: A JSON-serialized object describing the message to be sent
              required:
                - web_app_query_id
                - result
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentWebAppMessage'
              example: SentWebAppMessage
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /approveChatJoinRequest:
    post:
      tags:
        - available-methods
      summary: approve_chat_join_request
      description: >-
        Use this method to approve a chat join request<br/>The bot must be an
        administrator in the chat for this to work and must have the
        can_invite_users administrator right
      externalDocs:
        url: https://core.telegram.org/bots/api#approvechatjoinrequest
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                user_id:
                  type: number
                  description: Unique identifier of the target user
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /approveSuggestedPost:
    post:
      tags:
        - updating-messages
      summary: approve_suggested_post
      description: >-
        Use this method to approve a suggested post in a direct messages
        chat<br/>The bot must have the &#39;can_post_messages&#39; administrator
        right in the corresponding channel chat
      externalDocs:
        url: https://core.telegram.org/bots/api#approvesuggestedpost
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: number
                  description: Unique identifier for the target direct messages chat
                message_id:
                  type: number
                  description: Identifier of a suggested post message to approve
                send_date:
                  type: number
                  description: >-
                    Point in time (Unix timestamp) when the post is expected to
                    be published; omit if the date has already been specified
                    when the suggested post was created<br/>If specified, then
                    the date must be not more than 2678400 seconds (30 days) in
                    the future
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /banChatMember:
    post:
      tags:
        - available-methods
      summary: ban_chat_member
      description: >-
        Use this method to ban a user in a group, a supergroup or a
        channel<br/>In the case of supergroups and channels, the user will not
        be able to return to the chat on their own using invite links, etc.,
        unless unbanned first<br/>The bot must be an administrator in the chat
        for this to work and must have the appropriate administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#banchatmember
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target group or username of the
                    target supergroup or channel (in the format
                    @channelusername)
                user_id:
                  type: number
                  description: Unique identifier of the target user
                until_date:
                  type: number
                  description: >-
                    Date when the user will be unbanned; Unix time<br/>If user
                    is banned for more than 366 days or less than 30 seconds
                    from the current time they are considered to be banned
                    forever<br/>Applied for supergroups and channels only.
                revoke_messages:
                  type: boolean
                  description: >-
                    Pass True to delete all messages from the chat for the user
                    that is being removed<br/>If False, the user will be able to
                    see messages in the group that were sent before the user was
                    removed<br/>Always True for supergroups and channels.
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /banChatSenderChat:
    post:
      tags:
        - available-methods
      summary: ban_chat_sender_chat
      description: >-
        Use this method to ban a channel chat in a supergroup or a
        channel<br/>Until the chat is unbanned, the owner of the banned chat
        won&#39;t be able to send messages on behalf of any of their
        channels<br/>The bot must be an administrator in the supergroup or
        channel for this to work and must have the appropriate administrator
        rights
      externalDocs:
        url: https://core.telegram.org/bots/api#banchatsenderchat
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                sender_chat_id:
                  type: number
                  description: Unique identifier of the target sender chat
              required:
                - chat_id
                - sender_chat_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /close:
    post:
      tags:
        - available-methods
      summary: close
      description: >-
        Use this method to close the bot instance before moving it from one
        local server to another<br/>You need to delete the webhook before
        calling this method to ensure that the bot isn&#39;t launched again
        after server restart<br/>The method will return error 429 in the first
        10 minutes after the bot is launched<br/>Requires no parameters.
      externalDocs:
        url: https://core.telegram.org/bots/api#close
        description: telegram documentation
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /closeForumTopic:
    post:
      tags:
        - available-methods
      summary: close_forum_topic
      description: >-
        Use this method to close an open topic in a forum supergroup
        chat<br/>The bot must be an administrator in the chat for this to work
        and must have the can_manage_topics administrator rights, unless it is
        the creator of the topic
      externalDocs:
        url: https://core.telegram.org/bots/api#closeforumtopic
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
                message_thread_id:
                  type: number
                  description: >-
                    Unique identifier for the target message thread of the forum
                    topic
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /closeGeneralForumTopic:
    post:
      tags:
        - available-methods
      summary: close_general_forum_topic
      description: >-
        Use this method to close an open &#39;General&#39; topic in a forum
        supergroup chat<br/>The bot must be an administrator in the chat for
        this to work and must have the can_manage_topics administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#closegeneralforumtopic
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
              required:
                - chat_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /convertGiftToStars:
    post:
      tags:
        - available-methods
      summary: convert_gift_to_stars
      description: >-
        Converts a given regular gift to Telegram Stars<br/>Requires the
        can_convert_gifts_to_stars business bot right
      externalDocs:
        url: https://core.telegram.org/bots/api#convertgifttostars
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection
                owned_gift_id:
                  type: string
                  description: >-
                    Unique identifier of the regular gift that should be
                    converted to Telegram Stars
              required:
                - business_connection_id
                - owned_gift_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /copyMessage:
    post:
      tags:
        - available-methods
      summary: copy_message
      description: >-
        Use this method to copy messages of any kind<br/>Service messages, paid
        media messages, giveaway messages, giveaway winners messages, and
        invoice messages can&#39;t be copied<br/>A quiz poll can be copied only
        if the value of the field correct_option_id is known to the bot<br/>The
        method is analogous to the method forwardMessage, but the copied message
        doesn&#39;t have a link to the original message
      externalDocs:
        url: https://core.telegram.org/bots/api#copymessage
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                from_chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the chat where the original message
                    was sent (or channel username in the format
                    @channelusername)
                message_id:
                  type: number
                  description: Message identifier in the chat specified in from_chat_id
                message_thread_id:
                  type: number
                  description: >-
                    Unique identifier for the target message thread (topic) of
                    the forum; for forum supergroups only
                direct_messages_topic_id:
                  type: number
                  description: >-
                    Identifier of the direct messages topic to which the message
                    will be sent; required if the message is sent to a direct
                    messages chat
                video_start_timestamp:
                  type: number
                  description: New start timestamp for the copied video in the message
                caption:
                  type: string
                  description: >-
                    New caption for media, 0-1024 characters after entities
                    parsing<br/>If not specified, the original caption is kept
                parse_mode:
                  oneOf:
                    - type: string
                      enum:
                        - HTML
                        - MarkdownV2
                  description: >-
                    Mode for parsing entities in the new caption<br/>See
                    formatting options for more details.
                caption_entities:
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                  description: >-
                    A JSON-serialized list of special entities that appear in
                    the new caption, which can be specified instead of
                    parse_mode
                show_caption_above_media:
                  type: boolean
                  description: >-
                    Pass True, if the caption must be shown above the message
                    media<br/>Ignored if a new caption isn&#39;t specified.
                disable_notification:
                  type: boolean
                  description: >-
                    Sends the message silently<br/>Users will receive a
                    notification with no sound.
                protect_content:
                  type: boolean
                  description: >-
                    Protects the contents of the sent message from forwarding
                    and saving
                allow_paid_broadcast:
                  type: boolean
                  description: >-
                    Pass True to allow up to 1000 messages per second, ignoring
                    broadcasting limits for a fee of 0.1 Telegram Stars per
                    message<br/>The relevant Stars will be withdrawn from the
                    bot&#39;s balance
                suggested_post_parameters:
                  $ref: '#/components/schemas/SuggestedPostParameters'
                  description: >-
                    A JSON-serialized object containing the parameters of the
                    suggested post to send; for direct messages chats
                    only<br/>If the message is sent as a reply to another
                    suggested post, then that suggested post is automatically
                    declined.
                reply_parameters:
                  $ref: '#/components/schemas/ReplyParameters'
                  description: Description of the message to reply to
                reply_markup:
                  oneOf:
                    - $ref: '#/components/schemas/InlineKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardRemove'
                    - $ref: '#/components/schemas/ForceReply'
                  description: >-
                    Additional interface options<br/>A JSON-serialized object
                    for an inline keyboard, custom reply keyboard, instructions
                    to remove a reply keyboard or to force a reply from the user
              required:
                - chat_id
                - from_chat_id
                - message_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageId'
              example: MessageId
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /copyMessages:
    post:
      tags:
        - available-methods
      summary: copy_messages
      description: >-
        Use this method to copy messages of any kind<br/>If some of the
        specified messages can&#39;t be found or copied, they are
        skipped<br/>Service messages, paid media messages, giveaway messages,
        giveaway winners messages, and invoice messages can&#39;t be
        copied<br/>A quiz poll can be copied only if the value of the field
        correct_option_id is known to the bot<br/>The method is analogous to the
        method forwardMessages, but the copied messages don&#39;t have a link to
        the original message<br/>Album grouping is kept for copied messages
      externalDocs:
        url: https://core.telegram.org/bots/api#copymessages
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                from_chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the chat where the original messages
                    were sent (or channel username in the format
                    @channelusername)
                message_ids:
                  type: array
                  items:
                    type: number
                  description: >-
                    A JSON-serialized list of 1-100 identifiers of messages in
                    the chat from_chat_id to copy<br/>The identifiers must be
                    specified in a strictly increasing order.
                message_thread_id:
                  type: number
                  description: >-
                    Unique identifier for the target message thread (topic) of
                    the forum; for forum supergroups only
                direct_messages_topic_id:
                  type: number
                  description: >-
                    Identifier of the direct messages topic to which the
                    messages will be sent; required if the messages are sent to
                    a direct messages chat
                disable_notification:
                  type: boolean
                  description: >-
                    Sends the messages silently<br/>Users will receive a
                    notification with no sound.
                protect_content:
                  type: boolean
                  description: >-
                    Protects the contents of the sent messages from forwarding
                    and saving
                remove_caption:
                  type: boolean
                  description: Pass True to copy the messages without their captions
              required:
                - chat_id
                - from_chat_id
                - message_ids
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageId'
              example: MessageId[]
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /createChatInviteLink:
    post:
      tags:
        - available-methods
      summary: create_chat_invite_link
      description: >-
        Use this method to create an additional invite link for a chat<br/>The
        bot must be an administrator in the chat for this to work and must have
        the appropriate administrator rights<br/>The link can be revoked using
        the method revokeChatInviteLink
      externalDocs:
        url: https://core.telegram.org/bots/api#createchatinvitelink
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                name:
                  type: string
                  description: Invite link name; 0-32 characters
                expire_date:
                  type: number
                  description: Point in time (Unix timestamp) when the link will expire
                member_limit:
                  type: number
                  description: >-
                    The maximum number of users that can be members of the chat
                    simultaneously after joining the chat via this invite link;
                    1-99999
                creates_join_request:
                  type: boolean
                  description: >-
                    True, if users joining the chat via the link need to be
                    approved by chat administrators<br/>If True, member_limit
                    can&#39;t be specified
              required:
                - chat_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatInviteLink'
              example: ChatInviteLink
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /createChatSubscriptionInviteLink:
    post:
      tags:
        - available-methods
      summary: create_chat_subscription_invite_link
      description: >-
        Use this method to create a subscription invite link for a channel
        chat<br/>The bot must have the can_invite_users administrator
        rights<br/>The link can be edited using the method
        editChatSubscriptionInviteLink or revoked using the method
        revokeChatInviteLink
      externalDocs:
        url: https://core.telegram.org/bots/api#createchatsubscriptioninvitelink
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target channel chat or username of
                    the target channel (in the format @channelusername)
                subscription_period:
                  type: number
                  description: >-
                    The number of seconds the subscription will be active for
                    before the next payment<br/>Currently, it must always be
                    2592000 (30 days).
                subscription_price:
                  type: number
                  description: >-
                    The amount of Telegram Stars a user must pay initially and
                    after each subsequent subscription period to be a member of
                    the chat; 1-10000
                name:
                  type: string
                  description: Invite link name; 0-32 characters
              required:
                - chat_id
                - subscription_period
                - subscription_price
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatInviteLink'
              example: ChatInviteLink
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /createForumTopic:
    post:
      tags:
        - available-methods
      summary: create_forum_topic
      description: >-
        Use this method to create a topic in a forum supergroup chat<br/>The bot
        must be an administrator in the chat for this to work and must have the
        can_manage_topics administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#createforumtopic
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
                name:
                  type: string
                  description: Topic name, 1-128 characters
                icon_color:
                  type: number
                  description: >-
                    Color of the topic icon in RGB format<br/>Currently, must be
                    one of 7322096 (0x6FB9F0), 16766590 (0xFFD67E), 13338331
                    (0xCB86DB), 9367192 (0x8EEE98), 16749490 (0xFF93B2), or
                    16478047 (0xFB6F5F)
                icon_custom_emoji_id:
                  type: string
                  description: >-
                    Unique identifier of the custom emoji shown as the topic
                    icon<br/>Use getForumTopicIconStickers to get all allowed
                    custom emoji identifiers.
              required:
                - chat_id
                - name
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumTopic'
              example: ForumTopic
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /createInvoiceLink:
    post:
      tags:
        - payments
      summary: create_invoice_link
      description: Use this method to create a link for an invoice
      externalDocs:
        url: https://core.telegram.org/bots/api#createinvoicelink
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Product name, 1-32 characters
                description:
                  type: string
                  description: Product description, 1-255 characters
                payload:
                  type: string
                  description: >-
                    Bot-defined invoice payload, 1-128 bytes<br/>This will not
                    be displayed to the user, use it for your internal
                    processes.
                currency:
                  type: string
                  description: >-
                    Three-letter ISO 4217 currency code, see more on
                    currencies<br/>Pass “XTR” for payments in Telegram Stars.
                prices:
                  type: array
                  items:
                    $ref: '#/components/schemas/LabeledPrice'
                  description: >-
                    Price breakdown, a JSON-serialized list of components
                    (e.g<br/>product price, tax, discount, delivery cost,
                    delivery tax, bonus, etc.)<br/>Must contain exactly one item
                    for payments in Telegram Stars.
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the link will be created<br/>For payments in Telegram
                    Stars only.
                provider_token:
                  type: string
                  description: >-
                    Payment provider token, obtained via @BotFather<br/>Pass an
                    empty string for payments in Telegram Stars.
                subscription_period:
                  type: number
                  description: >-
                    The number of seconds the subscription will be active for
                    before the next payment<br/>The currency must be set to
                    “XTR” (Telegram Stars) if the parameter is
                    used<br/>Currently, it must always be 2592000 (30 days) if
                    specified<br/>Any number of subscriptions can be active for
                    a given bot at the same time, including multiple concurrent
                    subscriptions from the same user<br/>Subscription price must
                    no exceed 10000 Telegram Stars.
                max_tip_amount:
                  type: number
                  description: >-
                    The maximum accepted amount for tips in the smallest units
                    of the currency (integer, not float/double)<br/>For example,
                    for a maximum tip of US$ 1.45 pass max_tip_amount =
                    145<br/>See the exp parameter in currencies.json, it shows
                    the number of digits past the decimal point for each
                    currency (2 for the majority of currencies)<br/>Defaults to
                    0<br/>Not supported for payments in Telegram Stars.
                suggested_tip_amounts:
                  type: array
                  items:
                    type: number
                  description: >-
                    A JSON-serialized array of suggested amounts of tips in the
                    smallest units of the currency (integer, not
                    float/double)<br/>At most 4 suggested tip amounts can be
                    specified<br/>The suggested tip amounts must be positive,
                    passed in a strictly increased order and must not exceed
                    max_tip_amount.
                provider_data:
                  type: string
                  description: >-
                    JSON-serialized data about the invoice, which will be shared
                    with the payment provider<br/>A detailed description of
                    required fields should be provided by the payment provider.
                photo_url:
                  type: string
                  description: >-
                    URL of the product photo for the invoice<br/>Can be a photo
                    of the goods or a marketing image for a service.
                photo_size:
                  type: number
                  description: Photo size in bytes
                photo_width:
                  type: number
                  description: Photo width
                photo_height:
                  type: number
                  description: Photo height
                need_name:
                  type: boolean
                  description: >-
                    Pass True if you require the user&#39;s full name to
                    complete the order<br/>Ignored for payments in Telegram
                    Stars.
                need_phone_number:
                  type: boolean
                  description: >-
                    Pass True if you require the user&#39;s phone number to
                    complete the order<br/>Ignored for payments in Telegram
                    Stars.
                need_email:
                  type: boolean
                  description: >-
                    Pass True if you require the user&#39;s email address to
                    complete the order<br/>Ignored for payments in Telegram
                    Stars.
                need_shipping_address:
                  type: boolean
                  description: >-
                    Pass True if you require the user&#39;s shipping address to
                    complete the order<br/>Ignored for payments in Telegram
                    Stars.
                send_phone_number_to_provider:
                  type: boolean
                  description: >-
                    Pass True if the user&#39;s phone number should be sent to
                    the provider<br/>Ignored for payments in Telegram Stars.
                send_email_to_provider:
                  type: boolean
                  description: >-
                    Pass True if the user&#39;s email address should be sent to
                    the provider<br/>Ignored for payments in Telegram Stars.
                is_flexible:
                  type: boolean
                  description: >-
                    Pass True if the final price depends on the shipping
                    method<br/>Ignored for payments in Telegram Stars.
              required:
                - title
                - description
                - payload
                - currency
                - prices
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: string
              example: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /createNewStickerSet:
    post:
      tags:
        - stickers
      summary: create_new_sticker_set
      description: >-
        Use this method to create a new sticker set owned by a user<br/>The bot
        will be able to edit the sticker set thus created
      externalDocs:
        url: https://core.telegram.org/bots/api#createnewstickerset
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                  description: User identifier of created sticker set owner
                name:
                  type: string
                  description: >-
                    Short name of sticker set, to be used in t.me/addstickers/
                    URLs (e.g., animals)<br/>Can contain only English letters,
                    digits and underscores<br/>Must begin with a letter,
                    can&#39;t contain consecutive underscores and must end in
                    "_by_&lt;bot_username&gt;"<br/>&lt;bot_username&gt; is case
                    insensitive<br/>1-64 characters.
                title:
                  type: string
                  description: Sticker set title, 1-64 characters
                stickers:
                  type: array
                  items:
                    $ref: '#/components/schemas/InputSticker'
                  description: >-
                    A JSON-serialized list of 1-50 initial stickers to be added
                    to the sticker set
                sticker_type:
                  type: string
                  description: >-
                    Type of stickers in the set, pass “regular”, “mask”, or
                    “custom_emoji”<br/>By default, a regular sticker set is
                    created.
                needs_repainting:
                  type: boolean
                  description: >-
                    Pass True if stickers in the sticker set must be repainted
                    to the color of text when used in messages, the accent color
                    if used as emoji status, white on chat photos, or another
                    appropriate color based on context; for custom emoji sticker
                    sets only
              required:
                - user_id
                - name
                - title
                - stickers
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /declineChatJoinRequest:
    post:
      tags:
        - available-methods
      summary: decline_chat_join_request
      description: >-
        Use this method to decline a chat join request<br/>The bot must be an
        administrator in the chat for this to work and must have the
        can_invite_users administrator right
      externalDocs:
        url: https://core.telegram.org/bots/api#declinechatjoinrequest
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                user_id:
                  type: number
                  description: Unique identifier of the target user
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /declineSuggestedPost:
    post:
      tags:
        - updating-messages
      summary: decline_suggested_post
      description: >-
        Use this method to decline a suggested post in a direct messages
        chat<br/>The bot must have the &#39;can_manage_direct_messages&#39;
        administrator right in the corresponding channel chat
      externalDocs:
        url: https://core.telegram.org/bots/api#declinesuggestedpost
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: number
                  description: Unique identifier for the target direct messages chat
                message_id:
                  type: number
                  description: Identifier of a suggested post message to decline
                comment:
                  type: string
                  description: >-
                    Comment for the creator of the suggested post; 0-128
                    characters
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteBusinessMessages:
    post:
      tags:
        - available-methods
      summary: delete_business_messages
      description: >-
        Delete messages on behalf of a business account<br/>Requires the
        can_delete_sent_messages business bot right to delete messages sent by
        the bot itself, or the can_delete_all_messages business bot right to
        delete any message
      externalDocs:
        url: https://core.telegram.org/bots/api#deletebusinessmessages
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which to delete the messages
                message_ids:
                  type: array
                  items:
                    type: number
                  description: >-
                    A JSON-serialized list of 1-100 identifiers of messages to
                    delete<br/>All messages must be from the same chat<br/>See
                    deleteMessage for limitations on which messages can be
                    deleted
              required:
                - business_connection_id
                - message_ids
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteChatPhoto:
    post:
      tags:
        - available-methods
      summary: delete_chat_photo
      description: >-
        Use this method to delete a chat photo<br/>Photos can&#39;t be changed
        for private chats<br/>The bot must be an administrator in the chat for
        this to work and must have the appropriate administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#deletechatphoto
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
              required:
                - chat_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteChatStickerSet:
    post:
      tags:
        - available-methods
      summary: delete_chat_sticker_set
      description: >-
        Use this method to delete a group sticker set from a supergroup<br/>The
        bot must be an administrator in the chat for this to work and must have
        the appropriate administrator rights<br/>Use the field
        can_set_sticker_set optionally returned in getChat requests to check if
        the bot can use this method
      externalDocs:
        url: https://core.telegram.org/bots/api#deletechatstickerset
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
              required:
                - chat_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteForumTopic:
    post:
      tags:
        - available-methods
      summary: delete_forum_topic
      description: >-
        Use this method to delete a forum topic along with all its messages in a
        forum supergroup chat<br/>The bot must be an administrator in the chat
        for this to work and must have the can_delete_messages administrator
        rights
      externalDocs:
        url: https://core.telegram.org/bots/api#deleteforumtopic
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
                message_thread_id:
                  type: number
                  description: >-
                    Unique identifier for the target message thread of the forum
                    topic
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteMessage:
    post:
      tags:
        - updating-messages
      summary: delete_message
      description: >-
        Use this method to delete a message, including service messages, with
        the following limitations:- A message can only be deleted if it was sent
        less than 48 hours ago<br/>.<br/>- Service messages about a supergroup,
        channel, or forum topic creation can&#39;t be deleted<br/>.<br/>- A dice
        message in a private chat can only be deleted if it was sent more than
        24 hours ago<br/>.<br/>- Bots can delete outgoing messages in private
        chats, groups, and supergroups<br/>.<br/>- Bots can delete incoming
        messages in private chats<br/>.<br/>- Bots granted can_post_messages
        permissions can delete outgoing messages in channels<br/>.<br/>- If the
        bot is an administrator of a group, it can delete any message
        there<br/>.<br/>- If the bot has can_delete_messages administrator right
        in a supergroup or a channel, it can delete any message
        there<br/>.<br/>- If the bot has can_manage_direct_messages
        administrator right in a channel, it can delete any message in the
        corresponding direct messages chat<br/>.
      externalDocs:
        url: https://core.telegram.org/bots/api#deletemessage
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                message_id:
                  type: number
                  description: Identifier of the message to delete
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteMessages:
    post:
      tags:
        - updating-messages
      summary: delete_messages
      description: >-
        Use this method to delete multiple messages simultaneously<br/>If some
        of the specified messages can&#39;t be found, they are skipped
      externalDocs:
        url: https://core.telegram.org/bots/api#deletemessages
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                message_ids:
                  type: array
                  items:
                    type: number
                  description: >-
                    A JSON-serialized list of 1-100 identifiers of messages to
                    delete<br/>See deleteMessage for limitations on which
                    messages can be deleted
              required:
                - chat_id
                - message_ids
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteMyCommands:
    post:
      tags:
        - available-methods
      summary: delete_my_commands
      description: >-
        Use this method to delete the list of the bot&#39;s commands for the
        given scope and user language<br/>After deletion, higher level commands
        will be shown to affected users
      externalDocs:
        url: https://core.telegram.org/bots/api#deletemycommands
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  $ref: '#/components/schemas/BotCommandScope'
                  description: >-
                    A JSON-serialized object, describing scope of users for
                    which the commands are relevant<br/>Defaults to
                    BotCommandScopeDefault.
                language_code:
                  type: string
                  description: >-
                    A two-letter ISO 639-1 language code<br/>If empty, commands
                    will be applied to all users from the given scope, for whose
                    language there are no dedicated commands
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteStickerFromSet:
    post:
      tags:
        - stickers
      summary: delete_sticker_from_set
      description: Use this method to delete a sticker from a set created by the bot
      externalDocs:
        url: https://core.telegram.org/bots/api#deletestickerfromset
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sticker:
                  type: string
                  description: File identifier of the sticker
              required:
                - sticker
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteStickerSet:
    post:
      tags:
        - stickers
      summary: delete_sticker_set
      description: Use this method to delete a sticker set that was created by the bot
      externalDocs:
        url: https://core.telegram.org/bots/api#deletestickerset
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Sticker set name
              required:
                - name
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteStory:
    post:
      tags:
        - available-methods
      summary: delete_story
      description: >-
        Deletes a story previously posted by the bot on behalf of a managed
        business account<br/>Requires the can_manage_stories business bot right
      externalDocs:
        url: https://core.telegram.org/bots/api#deletestory
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection
                story_id:
                  type: number
                  description: Unique identifier of the story to delete
              required:
                - business_connection_id
                - story_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /deleteWebhook:
    post:
      tags:
        - getting-updates
      summary: delete_webhook
      description: >-
        Use this method to remove webhook integration if you decide to switch
        back to getUpdates
      externalDocs:
        url: https://core.telegram.org/bots/api#deletewebhook
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                drop_pending_updates:
                  type: boolean
                  description: Pass True to drop all pending updates
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editChatInviteLink:
    post:
      tags:
        - available-methods
      summary: edit_chat_invite_link
      description: >-
        Use this method to edit a non-primary invite link created by the
        bot<br/>The bot must be an administrator in the chat for this to work
        and must have the appropriate administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#editchatinvitelink
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                invite_link:
                  type: string
                  description: The invite link to edit
                name:
                  type: string
                  description: Invite link name; 0-32 characters
                expire_date:
                  type: number
                  description: Point in time (Unix timestamp) when the link will expire
                member_limit:
                  type: number
                  description: >-
                    The maximum number of users that can be members of the chat
                    simultaneously after joining the chat via this invite link;
                    1-99999
                creates_join_request:
                  type: boolean
                  description: >-
                    True, if users joining the chat via the link need to be
                    approved by chat administrators<br/>If True, member_limit
                    can&#39;t be specified
              required:
                - chat_id
                - invite_link
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatInviteLink'
              example: ChatInviteLink
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editChatSubscriptionInviteLink:
    post:
      tags:
        - available-methods
      summary: edit_chat_subscription_invite_link
      description: >-
        Use this method to edit a subscription invite link created by the
        bot<br/>The bot must have the can_invite_users administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#editchatsubscriptioninvitelink
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                invite_link:
                  type: string
                  description: The invite link to edit
                name:
                  type: string
                  description: Invite link name; 0-32 characters
              required:
                - chat_id
                - invite_link
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatInviteLink'
              example: ChatInviteLink
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editForumTopic:
    post:
      tags:
        - available-methods
      summary: edit_forum_topic
      description: >-
        Use this method to edit name and icon of a topic in a forum supergroup
        chat<br/>The bot must be an administrator in the chat for this to work
        and must have the can_manage_topics administrator rights, unless it is
        the creator of the topic
      externalDocs:
        url: https://core.telegram.org/bots/api#editforumtopic
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
                message_thread_id:
                  type: number
                  description: >-
                    Unique identifier for the target message thread of the forum
                    topic
                name:
                  type: string
                  description: >-
                    New topic name, 0-128 characters<br/>If not specified or
                    empty, the current name of the topic will be kept
                icon_custom_emoji_id:
                  type: string
                  description: >-
                    New unique identifier of the custom emoji shown as the topic
                    icon<br/>Use getForumTopicIconStickers to get all allowed
                    custom emoji identifiers<br/>Pass an empty string to remove
                    the icon<br/>If not specified, the current icon will be kept
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editGeneralForumTopic:
    post:
      tags:
        - available-methods
      summary: edit_general_forum_topic
      description: >-
        Use this method to edit the name of the &#39;General&#39; topic in a
        forum supergroup chat<br/>The bot must be an administrator in the chat
        for this to work and must have the can_manage_topics administrator
        rights
      externalDocs:
        url: https://core.telegram.org/bots/api#editgeneralforumtopic
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target supergroup (in the format @supergroupusername)
                name:
                  type: string
                  description: New topic name, 1-128 characters
              required:
                - chat_id
                - name
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editMessageCaption:
    post:
      tags:
        - updating-messages
      summary: edit_message_caption
      description: >-
        Use this method to edit captions of messages<br/>Note that business
        messages that were not sent by the bot and do not contain an inline
        keyboard can only be edited within 48 hours from the time they were
        sent.
      externalDocs:
        url: https://core.telegram.org/bots/api#editmessagecaption
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the message to be edited was sent
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Required if inline_message_id is not specified<br/>Unique
                    identifier for the target chat or username of the target
                    channel (in the format @channelusername)
                message_id:
                  type: number
                  description: >-
                    Required if inline_message_id is not
                    specified<br/>Identifier of the message to edit
                inline_message_id:
                  type: string
                  description: >-
                    Required if chat_id and message_id are not
                    specified<br/>Identifier of the inline message
                caption:
                  type: string
                  description: >-
                    New caption of the message, 0-1024 characters after entities
                    parsing
                parse_mode:
                  oneOf:
                    - type: string
                      enum:
                        - HTML
                        - MarkdownV2
                  description: >-
                    Mode for parsing entities in the message caption<br/>See
                    formatting options for more details.
                caption_entities:
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                  description: >-
                    A JSON-serialized list of special entities that appear in
                    the caption, which can be specified instead of parse_mode
                show_caption_above_media:
                  type: boolean
                  description: >-
                    Pass True, if the caption must be shown above the message
                    media<br/>Supported only for animation, photo and video
                    messages.
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                  description: A JSON-serialized object for an inline keyboard.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Message'
                  - type: boolean
              example: Message | boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editMessageChecklist:
    post:
      tags:
        - updating-messages
      summary: edit_message_checklist
      description: >-
        Use this method to edit a checklist on behalf of a connected business
        account
      externalDocs:
        url: https://core.telegram.org/bots/api#editmessagechecklist
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the message will be sent
                chat_id:
                  type: number
                  description: Unique identifier for the target chat
                message_id:
                  type: number
                  description: Unique identifier for the target message
                checklist:
                  $ref: '#/components/schemas/InputChecklist'
                  description: A JSON-serialized object for the new checklist
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                  description: >-
                    A JSON-serialized object for the new inline keyboard for the
                    message
              required:
                - business_connection_id
                - chat_id
                - message_id
                - checklist
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example: Message
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editMessageLiveLocation:
    post:
      tags:
        - updating-messages
      summary: edit_message_live_location
      description: >-
        Use this method to edit live location messages<br/>A location can be
        edited until its live_period expires or editing is explicitly disabled
        by a call to stopMessageLiveLocation
      externalDocs:
        url: https://core.telegram.org/bots/api#editmessagelivelocation
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  type: number
                  description: Latitude of new location
                longitude:
                  type: number
                  description: Longitude of new location
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the message to be edited was sent
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Required if inline_message_id is not specified<br/>Unique
                    identifier for the target chat or username of the target
                    channel (in the format @channelusername)
                message_id:
                  type: number
                  description: >-
                    Required if inline_message_id is not
                    specified<br/>Identifier of the message to edit
                inline_message_id:
                  type: string
                  description: >-
                    Required if chat_id and message_id are not
                    specified<br/>Identifier of the inline message
                live_period:
                  type: number
                  description: >-
                    New period in seconds during which the location can be
                    updated, starting from the message send date<br/>If
                    0x7FFFFFFF is specified, then the location can be updated
                    forever<br/>Otherwise, the new value must not exceed the
                    current live_period by more than a day, and the live
                    location expiration date must remain within the next 90
                    days<br/>If not specified, then live_period remains
                    unchanged
                horizontal_accuracy:
                  type: number
                  description: >-
                    The radius of uncertainty for the location, measured in
                    meters; 0-1500
                heading:
                  type: number
                  description: >-
                    Direction in which the user is moving, in degrees<br/>Must
                    be between 1 and 360 if specified.
                proximity_alert_radius:
                  type: number
                  description: >-
                    The maximum distance for proximity alerts about approaching
                    another chat member, in meters<br/>Must be between 1 and
                    100000 if specified.
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                  description: A JSON-serialized object for a new inline keyboard.
              required:
                - latitude
                - longitude
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Message'
                  - type: boolean
              example: Message | boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editMessageMedia:
    post:
      tags:
        - updating-messages
      summary: edit_message_media
      description: >-
        Use this method to edit animation, audio, document, photo, or video
        messages, or to add media to text messages<br/>If a message is part of a
        message album, then it can be edited only to an audio for audio albums,
        only to a document for document albums and to a photo or a video
        otherwise<br/>When an inline message is edited, a new file can&#39;t be
        uploaded; use a previously uploaded file via its file_id or specify a
        URL<br/>Note that business messages that were not sent by the bot and do
        not contain an inline keyboard can only be edited within 48 hours from
        the time they were sent.
      externalDocs:
        url: https://core.telegram.org/bots/api#editmessagemedia
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                media:
                  $ref: '#/components/schemas/InputMedia'
                  description: >-
                    A JSON-serialized object for a new media content of the
                    message
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the message to be edited was sent
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Required if inline_message_id is not specified<br/>Unique
                    identifier for the target chat or username of the target
                    channel (in the format @channelusername)
                message_id:
                  type: number
                  description: >-
                    Required if inline_message_id is not
                    specified<br/>Identifier of the message to edit
                inline_message_id:
                  type: string
                  description: >-
                    Required if chat_id and message_id are not
                    specified<br/>Identifier of the inline message
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                  description: A JSON-serialized object for a new inline keyboard.
              required:
                - media
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Message'
                  - type: boolean
              example: Message | boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editMessageReplyMarkup:
    post:
      tags:
        - updating-messages
      summary: edit_message_reply_markup
      description: >-
        Use this method to edit only the reply markup of messages<br/>Note that
        business messages that were not sent by the bot and do not contain an
        inline keyboard can only be edited within 48 hours from the time they
        were sent.
      externalDocs:
        url: https://core.telegram.org/bots/api#editmessagereplymarkup
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the message to be edited was sent
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Required if inline_message_id is not specified<br/>Unique
                    identifier for the target chat or username of the target
                    channel (in the format @channelusername)
                message_id:
                  type: number
                  description: >-
                    Required if inline_message_id is not
                    specified<br/>Identifier of the message to edit
                inline_message_id:
                  type: string
                  description: >-
                    Required if chat_id and message_id are not
                    specified<br/>Identifier of the inline message
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                  description: A JSON-serialized object for an inline keyboard.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Message'
                  - type: boolean
              example: Message | boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editMessageText:
    post:
      tags:
        - updating-messages
      summary: edit_message_text
      description: >-
        Use this method to edit text and game messages<br/>Note that business
        messages that were not sent by the bot and do not contain an inline
        keyboard can only be edited within 48 hours from the time they were
        sent.
      externalDocs:
        url: https://core.telegram.org/bots/api#editmessagetext
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: >-
                    New text of the message, 1-4096 characters after entities
                    parsing
                business_connection_id:
                  type: string
                  description: >-
                    Unique identifier of the business connection on behalf of
                    which the message to be edited was sent
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Required if inline_message_id is not specified<br/>Unique
                    identifier for the target chat or username of the target
                    channel (in the format @channelusername)
                message_id:
                  type: number
                  description: >-
                    Required if inline_message_id is not
                    specified<br/>Identifier of the message to edit
                inline_message_id:
                  type: string
                  description: >-
                    Required if chat_id and message_id are not
                    specified<br/>Identifier of the inline message
                parse_mode:
                  oneOf:
                    - type: string
                      enum:
                        - HTML
                        - MarkdownV2
                  description: >-
                    Mode for parsing entities in the message text<br/>See
                    formatting options for more details.
                entities:
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                  description: >-
                    A JSON-serialized list of special entities that appear in
                    message text, which can be specified instead of parse_mode
                link_preview_options:
                  $ref: '#/components/schemas/LinkPreviewOptions'
                  description: Link preview generation options for the message
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                  description: A JSON-serialized object for an inline keyboard.
              required:
                - text
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Message'
                  - type: boolean
              example: Message | boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editStory:
    post:
      tags:
        - available-methods
      summary: edit_story
      description: >-
        Edits a story previously posted by the bot on behalf of a managed
        business account<br/>Requires the can_manage_stories business bot right
      externalDocs:
        url: https://core.telegram.org/bots/api#editstory
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                  description: Unique identifier of the business connection
                story_id:
                  type: number
                  description: Unique identifier of the story to edit
                content:
                  $ref: '#/components/schemas/InputStoryContent'
                  description: Content of the story
                caption:
                  type: string
                  description: >-
                    Caption of the story, 0-2048 characters after entities
                    parsing
                parse_mode:
                  oneOf:
                    - type: string
                      enum:
                        - HTML
                        - MarkdownV2
                  description: >-
                    Mode for parsing entities in the story caption<br/>See
                    formatting options for more details.
                caption_entities:
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                  description: >-
                    A JSON-serialized list of special entities that appear in
                    the caption, which can be specified instead of parse_mode
                areas:
                  type: array
                  items:
                    $ref: '#/components/schemas/StoryArea'
                  description: >-
                    A JSON-serialized list of clickable areas to be shown on the
                    story
              required:
                - business_connection_id
                - story_id
                - content
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
              example: Story
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /editUserStarSubscription:
    post:
      tags:
        - payments
      summary: edit_user_star_subscription
      description: >-
        Allows the bot to cancel or re-enable extension of a subscription paid
        in Telegram Stars
      externalDocs:
        url: https://core.telegram.org/bots/api#edituserstarsubscription
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                  description: Identifier of the user whose subscription will be edited
                telegram_payment_charge_id:
                  type: string
                  description: Telegram payment identifier for the subscription
                is_canceled:
                  type: boolean
                  description: >-
                    Pass True to cancel extension of the user subscription; the
                    subscription must be active up to the end of the current
                    subscription period<br/>Pass False to allow the user to
                    re-enable a subscription that was previously canceled by the
                    bot.
              required:
                - user_id
                - telegram_payment_charge_id
                - is_canceled
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: boolean
              example: boolean
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /exportChatInviteLink:
    post:
      tags:
        - available-methods
      summary: export_chat_invite_link
      description: >-
        Use this method to generate a new primary invite link for a chat; any
        previously generated primary link is revoked<br/>The bot must be an
        administrator in the chat for this to work and must have the appropriate
        administrator rights
      externalDocs:
        url: https://core.telegram.org/bots/api#exportchatinvitelink
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
              required:
                - chat_id
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: string
              example: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
  /forwardMessage:
    post:
      tags:
        - available-methods
      summary: forward_message
      description: >-
        Use this method to forward messages of any kind<br/>Service messages and
        messages with protected content can&#39;t be forwarded
      externalDocs:
        url: https://core.telegram.org/bots/api#forwardmessage
        description: telegram documentation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  oneOf:
                    - type: number
                    - type: string
                  description: >-
                    Unique identifier for the target chat or username of the
                    target channel (in the format @channelusername)
                from_chat_id:
[...]
